* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a,
a:visited,
a:hover,
a:target {
    color: white;
    text-decoration: none
}

main {
    width: 80%;
    margin: 0 auto;
}


/*Page header with nav and quote*/

.page-header {
    height: 100vh;
    background-image: url(img/children-1822662_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white
}

.page-header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: center;
    font-size: 2em
}

.page-header div p {
    border-bottom: 2px solid #1abfc6;
    border-top: 2px solid #1abfc6;
}

.page-header div nav {
    border-bottom: 2px solid #1abfc6;
    border-top: 2px solid #1abfc6;
}

.quote {
    text-align: justify;
    width: 60%;
    align-self: center;
    font-size: 1.6em;
    border-bottom: 2px solid #1abfc6;
    border-top: 2px solid #1abfc6;
    background-color: rgba(128, 128, 128, 0.44)
}


/*some services*/

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #e8e4e3
}

.services section:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    width: 60%
}

.services section:first-child div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-bottom: 10px;
    border-bottom: 1px solid #1abfc6;
}

.services section:first-child div:first-child,
.services section:first-child div:nth-child(2) {
    border-top: 1px solid #1abfc6;
    border-bottom: none
}

.services section:first-child div p {
    font-size: 1.3em;
    padding: 10px
}

.services section:nth-child(2) {
    width: 40%;
}

.services section:nth-child(2) img {
    width: 100%;
    height: 100%;
}

.ability.ability {
    display: flex;
    flex-direction: row;
    /*  justify-content: space-between;*/
    align-items: center;
    /*height: 100vh;*/
    background-image: url(img/robot-2697683_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ability section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-top: 50px;
    width: 80%;
}

.ability section:first-child div {
    margin-bottom: 20px;
    text-align: center
}

.ability section:first-child p {
    width: 55%;
    padding: 10px;
    background-color: rgba(235, 235, 235, 0.05);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.ability section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.ability section:nth-child(2) div:first-child {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0000ee;
    opacity: 0.7
}

.ability section:nth-child(2) div:nth-child(2) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0000ee;
    opacity: 0.5;
    margin-top: -20px
}

.ability section:nth-child(2) div:nth-child(3) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0000ee;
    opacity: 0.3;
    margin-top: -20px
}

.offer {
    background-image: url(img/desktop-3070885_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: center
}

.offer section {
    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    /*height: 50vh;*/
    background: #cc2b5e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-around;
    align-items: center
}

footer section {
    width: 50%;
}

footer section p {
    font-size: 1.1em;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px
}

footer section:first-child form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

footer section:first-child form input:first-child {
    margin-top: 30px
}

footer section:first-child form input {
    width: 30%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 30px
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: pink;
    text-align: center
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: pink;
    text-align: center
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: pink;
    text-align: center
}

:-moz-placeholder {
    /* Firefox 18- */
    color: pink;
    text-align: center
}

footer section:first-child form button {
    border-radius: 20px;
    background: #1abfc6;
    height: 30px;
    width: 150px;
}


/**/


/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575px) {
    .page-header {
        font-size: 0.7em
    }
    .page-header div {
        flex-direction: column
    }
    .services {
        justify-content: center;
        font-size: 0.7em
    }
    .services section:nth-child(2) {
        display: none
    }
    .services section:first-child {
        width: 100%;
    }
    .services section:first-child div:nth-child(2) {
        border: none
    }
    .services section:first-child div {
        width: 40%;
        justify-content: center;
        border: none
    }
    .ability section:nth-child(2) {
        display: none
    }
    .ability section:first-child {
        width: 100%;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap
    }
    .ability section:first-child div {
        width: 45%;
    }
    .ability section:first-child p {
        width: 100%;
    }
}


/*// Small devices (landscape phones, less than 768px)*/

@media (max-width: 767px) {}


/*// Medium devices (tablets, less than 992px)*/

@media (max-width: 991px) {}


/*// Large devices (desktops, less than 1200px)*/

@media (max-width: 1199px) {}
